doctype
html(
    lang="en"
    ) 
    head
        meta(
            charset="UTF-8"
            ) 
        meta(
            name="viewport", 
            content="width=device-width, initial-scale=1.0"
            ) 
        title
            |Perform
    body
        include src/components/repos/repos.pug
        repos-element
        script(
            src="./index.js"
            )